# created by virtualenv automatically
.idea
idea
.DS_Store

__pycache__
db.sqlite3
/venv
shop/.env
**/migrations/**
!**/migrations
!**/migrations/__init__.py

!*media/.gitkeep
media/*

celerybeat-schedule.*